In [12]:
import pandas as pd

a = [{"xiaoming":30,"haoo":40,"wo":50},
     {"xiaoming":99,"hao1":88,"wwwo2":77}]

In [13]:
df1 = pd.DataFrame(a,["num","HH"])
df1

     xiaoming  haoo    wo  hao1  wwwo2
num        30  40.0  50.0   NaN    NaN
HH         99   NaN   NaN  88.0   77.0

In [14]:
b = df1.loc["num"]
print(b.max())
print(b.nlargest(2))

50.0
wo      50.0
haoo    40.0
Name: num, dtype: float64