In [14]:
import pandas as pd

a = [{"xiaoming":30,"haoo":40,"wo":50},
     {"xiaoming":99,"hao1":88,"wwwo2":77}]

b = {"dog":20,"cat":40,"mike":60}

In [15]:
df1 = pd.DataFrame(a,["num","HH"])
df1

     xiaoming  haoo    wo  hao1  wwwo2
num        30  40.0  50.0   NaN    NaN
HH         99   NaN   NaN  88.0   77.0

In [16]:
df1_s = df1.loc["num"]
print(df1_s.max())
print(df1_s.nlargest(2))

50.0
wo      50.0
haoo    40.0
Name: num, dtype: float64

In [17]:
s1 = pd.Series(b)
s1

dog     20
cat     40
mike    60
dtype: int64

In [18]:
df2 = pd.DataFrame(s1)
df2

       0
dog   20
cat   40
mike  60